<div class="container" >

   <header class="jumbotron masthead" id="overview">
      <div class="hero-unit">
		<h2><img src="http://www.couchbase.com/sites/default/files/uploads/all/images/company/couchbase-circle-symbol.png" width="120"   /> Fun with Twitter and Couchbase</h2>
		
      </div>                
    </header>



    <div class="row">
		<div class="well span12">
			<h3>Stats</h3>
			<ul>
				<li><a href="/#/tweets/by_date">By Date</a></li>
				<li><a href="/#/tweets/by_username">By User</a></li>
				<li><a href="/#/tweets/by_tags">By Tags</a></li>
			</ul>
		</div>
	</div>

</div>


